@keyframes move-in-front{
     0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move-down{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes move-up{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slideLeftToRight {
    from {
        opacity: 0;
      clip-path: inset(0 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
       
    }
}

@keyframes slideRightToLeft {
    from {
        opacity: 0;
      clip-path: inset(0 0 0 100%);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
       
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
      clip-path: inset(100% 0 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
       
    }
}

@keyframes running-text {
  0% {
    transform: translateX(0%); 
  }
 
  100% {
    transform: translateX(-100%); 
  }
}

.banner{
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

.text-banner{
    color: rgb(206, 206, 206);
    font-size: 34px;
    background-color: rgba(0, 0, 0, 0.377);
    display: inline;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.text-banner-1{
   opacity: 0;
   animation-delay: 1s;
   animation-name: slideLeftToRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.text-banner-2{
    opacity: 0;
    animation-delay: 1s;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.text-banner-3{
  
    opacity: 0;
     animation-delay: 1s;
    animation-name: slideRightToLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

.text-banner:hover{
    font-size: 36px;
    color: blueviolet;
   text-shadow: 0 0 10px blueviolet, 0 0 20px blueviolet;
}

.main{
     background-image: url(background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    
    
    
}

.im-part{
    display: flex;
    gap: 20px;
    justify-content: center;
    animation-name: move-down;
   animation-duration: 1s;
}

.im-robo{
     max-width: 100%;
    height: auto;
    animation-name: move-in-front;
    animation-duration: 1s;
    
}

.im-connect{
    max-width: 100%;
    height: auto;
    animation-name: move-up;
    animation-duration: 1s;
    
}

.im-girl-in-glass{
    max-width: 100%;
    height: auto;
    animation-name: move-down;
    animation-duration: 1s;
    
}

.item{
    display: flex;
    flex-direction: column;
    
    margin: 50px;
}

.item-first{
  align-self: flex-start;
  width: 600px; 
  max-width: 750px; 
  max-height: 300px; 
    
}

.item-second{
    align-self: center;

}

.item-third{
    align-self: flex-end;
}

.im-robo:hover{
    transition: transform 1s ease-in-out;
   transform: rotateY(360deg);
}

.im-connect:hover, .im-girl-in-glass:hover{
    transition: transform 1s ease-in-out;
   transform:  rotate3d(1, 0, 0, 360deg);
}

.text-running{
    font-size: 30px;
    color: rgb(206, 206, 206);
display: inline-block;
     padding-left: 100%;
    animation-name: running-text;
    animation-duration: 10s ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.runner{
    max-width: 100%;
   overflow: hidden;
   white-space:nowrap; ;
   
}
    
