html{
  height: 100%;
 
}

body{
  display: flex;
  flex-direction: column;
  width: 100%;
   max-width: 1200px; 
  height: 100%;
  margin: 0 auto;
}

.header{
    background: linear-gradient(to bottom, #B771CA, #FCF1D0);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    align-items: flex-start; 
}

.main{
    width: 100%;
  
    background-color:#E2CFCF;
    flex: 1 0 auto;
}

.block{
    background-color: #E2CFCF;;
    margin: 5px;
   border: 1px solid rgb(115, 80, 113);
   border-radius: 10px;

   
}

.block_group{
    
    border: 1px solid rgb(115, 80, 113);
    width: 32.3%;
    margin: 1px;
    border-radius: 10px;
    text-align: center;
}

.block_line{
    background-color: #E2CFCF;;
    display: flex;
    width: 100%;
    padding: 5px;
}
.block_line_2{
   display: flex;
    width: 100%;
    padding: 5px;
}

.big_block{
    border-radius: 10px;
    width: 89%;
    height: 100%;
}

.large_block{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif; 
    font-size: 14px; 
    
}

.block_ad{
    border-radius: 10px;
    width: 12%;
    height: 100%;
    overflow: hidden;
}

footer{
    background: linear-gradient(to top, #B771CA, #FCF1D0);;
    color: #301F1F;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 20px;
    flex: 0 0 auto;
}

.ad{
    
    width: 100%;
    height: 50%;
}

.ad_others{
    width: 100%;
    height: 200px;
}

summary {
    display: inline-block;
    font-size: 16px;
    color: rgb(73, 17, 110);
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
}

details p {
    padding: 10px;
    background-color: #f1f1f1;
}

.contacts{
    margin-top: 20px;
}

footer .contacts a {
    font-family: 'Inter', sans-serif; 
    font-size: 12px; 
    color: #301F1F; 
    text-decoration: none; 
    margin-right: 15px;  
  }

  footer .contacts a:hover {
    color: #B771CA; 
  }

  .logo_tntu{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }

  h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
  }

  .header_title{
    display: flex;
  }

  .short_info{
    vertical-align: top; 
    text-align: center;
  }
  
  .short_info *{
    margin: 4px 0;
    padding: 0;
  }

  .perent{
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .profile_foto{
    
    width: 85px;
    height: 100px;
    
  }

  h2{
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }

  .bottomcenter{
   
  }

  .menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .menu li{
    margin-right: 20px;
    vertical-align: top; 
  }

  .menu a {
    color: #7B0F74;
    text-decoration: none;
    padding: 10px 15px;
  }
  
  .menu a:hover {
    background-color: #A781E7;
    border-radius: 5px;
  }

  .logo-fis{
    width: 30px;
    height: 20px;
    
  }

  .bio_img{    
    width: 250px;
    height: 300px;
    margin-right: 15px;  
  }


  .bio-content{
    display: flex;        
    text-align: left;
    white-space: normal;
    width: 100%;  
  }

  .group_photo{
    display: block;
    margin: 0 auto;
    width: 150px; 
    height: auto;
  }

  .interesting_img{
    width: 120px;
    height: 150px;
    padding: 10px;
  }

  .interesting_content{
    display: flex;
  }

  .for_text_h3{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    background-color: #A781E7;
    width: fit-content;
  margin: 0 auto; 
  }

@media (max-width: 600px) {


  .block_line{
    width: 98.5%;
    flex-direction: column;
  }
  .block_group{
    width: 98%;
  }

  .block{
     width: 98%;
  }

  .large_block{
    flex-direction: column;
  }

  .big_block{
    width: 100%;
  }

  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .ad_others{
    max-width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px; 
  }
 .block_ad{
  display: none;
  }

  .columns-container{
    flex-direction: column;
    gap: 10px; 
    margin: 10px;
  }
}

.columns-container {
  display: flex;
  gap: 20px; 
  margin: 20px;
}

.col {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

#col-1{
  order: 3;
}
#col-2{
  order: 4;
}